*{
    box-sizing:border-box;
}
body{
    margin:0;
    margin:auto;
}
.video-container{
 height:100vh;
 width:50vw;
 position:fixed;
 left:50%;
 top:50%;
 transform:translate(-50px,-50px);
 
 /* border:1px solid red; */
}
.filter-container{
    height:70vh;
    width:7rem;
    border:1px solid red;
    position:fixed;
    top:15vh;
    left:5vw;
}
.filter{
    height:calc( 100% / 6 );
    width:100%;
    border:1px solid red;
    background-image:url('nature.jpg');
    background-size:cover;
    background-blend-mode: color-burn;
}
#start{
    position:fixed;
    top:50vh;
    left:80vw;
}
#stop{
    position:fixed;
    top:55vh;
    left:80vw;
}